@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    background-color: #e5e5e5;
}

@page {
    size: A4;
}

@font-face
{
  font-family: "hf1";
  src: url("../fonts/AuthenticSignature.ttf");
}
@font-face
{
  font-family: "hf2";
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
}

.head-font1
{
    font-family: 'hf1', sans-serif;
}
.head-font2
{
    font-family: 'hf2', serif;
}

.text-font1
{
    font-family: 'hf1', sans-serif;
}
.text-font2
{
    font-family: 'hf2', serif;
}


.resume-btn-div-css{
    position: relative;
    top: 70px;
    /*bottom: 70px;*/
    width: 100%;
    height: 100px;
    text-align: center;
    float: left;
}

.resume-btn-div-css button {
    font-size: 30px;
    padding: 10px 65px;
    margin-bottom: 50px;
}

.pdf-d-btn{
    color: #003E6D;
    background-color: #F6D709;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
}

.pdf-d-btn:hover{
    background-color: #003E6D;
    color: #F6D709;
}

.aftr-lgn-d-div{
   position: relative;
    top: 200px;
    /*bottom: 70px;*/
    width: 100%;
    height: 100px;
    text-align: center;
    float: left;
/*    display: flex;*/
/*    align-items: center;*/
}

.aftr-lgn-d-div button {
    font-size: 30px;
    padding: 10px 65px;
    margin-bottom: 50px;
}

.aftr-lgn-d-btn{
    color: #003E6D;
    background-color: #F6D709;
    text-transform: uppercase;
    padding: 5px 10px;
    border: 0;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
}

.aftr-lgn-d-btn:hover{
    background-color: #003E6D;
    color: #F6D709;
}

.download-containt{
   font-size: 25px;
   font-weight: bold;
   color: #003E6D;
   margin: 15px;
}

.temp-name-header{
    background-color: #08B9D4;
    color: #fff;
    font-weight: 500;
    text-align: center;
    box-shadow: 3px 3px 10px #444;
}

.hello-path{
    background-color: #003E6D;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-btn{
    border: 2px solid #003E6D;
    font-size: 15px;
    font-weight: 600;
    color: #003E6D;
    background-color: transparent;
}

.header-btn:hover{
    /*border: 2px solid #003E6D;*/
    /*color: #003E6D;*/
    background-color: #eee;
}


/*....................custom scrollbar......................*/

/* Let's get this party started */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #444; 
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: #444; 
}

/*....................custom scrollbar end......................*/

.label-containt{
    margin-bottom: 2px !important;
    font-size: 13px !important;
    font-weight: 600 !important;
}

.form-group-containt{
    margin-bottom: 3px;
    padding: 0 10px;
}

.template-preview{
    height: 1120px;
    box-shadow: 3px 3px 10px #444;
    overflow-y: auto;
    background-color: #fff;
}

.hobby-scroll{
    height: 500px;
    overflow-y: auto;
}

.select-template-head {
    background-color: #F6D709;
    border: 0;
    color: #003E6D;
}

.select-template-main {
    background-color: white;
    border: 0;
    height: 500px;
    overflow-y: auto;
}

.template-select-img {
    height: 160px;
}

.select-template-box {
    padding: 0;
}

.select-template-box:hover {
    box-shadow: 2px 2px 5px black;

    /* border: 1px solid goldenrod; */
}

.select-template-box:hover .card .card-header {
    background-color: teal;
    color: white;
}

.select-template-box:hover .card .card-body {
    background-color: darkgoldenrod;
}

.page-sep
{
    height: 100px;
    padding: 30px 0;
    background-color: yellow;
}

.page1{
    height: 1080px;
    border: red solid 2px;
    overflow: hidden;
}
.page2{
    height: 1080px;
    border: red solid 2px;
    overflow: hidden;
}

#page1
{
    margin-bottom: 25px;
}

#page2
{
    margin-top: 45px;
}

.edit-head
{
    height:12px;
    width:12px;
    border:0 solid;
    display: none;
}

[contenteditable="true"],
[contenteditable="false"]{
    border:none;
    outline:none;
}

/*.........................Add skills..................*/
.add-skill-mark-type{
    text-align: center;
    padding: 10px;
}

.add-skill-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}
/*....................collage involvement......................*/
.clg-inv-mark-type{
    text-align: center;
    padding: 10px;
}

.clg-inv-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}

/*....................proffesional affiliation......................*/
.pro-affi-mark-type{
    text-align: center;
    padding: 10px;
}

.pro-affi-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}

/*....................office involvement......................*/
.off-inv-mark-type{
    text-align: center;
    padding: 10px;
}

.off-inv-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}

/*....................expertise.....................*/
.exp-mark-type{
    text-align: center;
    padding: 10px;
}

.exp-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}

/*....................award.....................*/
.award-mark-type{
    text-align: center;
    padding: 10px;
}

.award-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}


/*.ac-accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 7px;
    width: 98%;
    border-bottom:  2px;
    text-align: left;
    outline: none !important;
    font-size: 12px;
    transition: 0.4s;
    font-weight: 600;
    box-shadow: -3px 3px 1px black; 
    border-radius: 5px;
}

.ac-active, .ac-accordion:hover {
    background-color: #ccc;
    width:100%;
}

.ac-accordion:before {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.ac-active:before {
    content: "\2212";
}

.ac-panel {
    margin-bottom: 5px;
    padding: 0 10px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}*/

.gap{
    padding: 10px 0;
}


.ac-accordion {
    background-color: #003E6D;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none !important;
    font-size: 15px;
    font-weight: 600;
    transition: 0.1s ease-in-out;
    box-shadow: 3px 3px 5px #444; 

}

.ac-active, .ac-accordion:hover {
    background-color: #F6D709;
    color: #003E6D;
    transform: scale(1.02);
}

.ac-accordion:before {
    content: '\002B';
    color: #fff;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}



.ac-active:before {
    content: "\2212";
    color: #003E6D;
}

.ac-panel {
    margin-bottom: 5px;
    padding: 0 15px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.color-box
{
    height: 30px;
    width: 30px;
    background-color: grey;
    border: 1px white solid;
    margin: 1px;
}

.color-box-wrap
{
    width: 150px;
    margin: 0 auto;
    
}
.color-box-wrap:hover
{
    border: 3px red solid;
}

.editor-css{
    font-size: 13px !important;
    background-color: #fff !important;
    color: #000 !important;
    padding: 2px !important;
    max-width: 400px !important;
    height: 100px !important;
    overflow: auto !important;
}
