@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
    background-color: gray;
}

@page {
    size: A4;
}

.select-template-head {
    background-color: #F6D709;
    border: 0;
    color: #003E6D;
}

.select-template-main {
    background-color: white;
    border: 0;
    height: 500px;
    overflow-y: auto;
}

.template-select-img {
    height: 160px;
}

.select-template-box {
    padding: 0;
}

.select-template-box:hover {
    box-shadow: 2px 2px 5px black;
    /* border: 1px solid goldenrod; */
}

.select-template-box:hover .card .card-header {
    background-color: teal;
    color: white;
}

.select-template-box:hover .card .card-body {
    background-color: darkgoldenrod;
}

.page-sep
{
    height: 100px;
    padding: 30px 0;
    background-color: yellow;
}

.page1{
    height: 1080px;
    border: red solid 2px;
    overflow: auto;
}
.page2{
    height: 1080px;
    border: red solid 2px;
    overflow: auto;
}

#page1
{
    margin-bottom: 25px;
}

#page2
{
    margin-top: 45px;
}

.edit-head
{
    height:30px;
    width:30px;
    border:1px solid;
}

[contenteditable="true"],
[contenteditable="false"]{
  border:none;
  outline:none;
}

/*.........................Add skills..................*/
.add-skill-mark-type{
    text-align: center;
    padding: 10px;
}

.add-skill-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}
/*....................collage involvement......................*/
.clg-inv-mark-type{
    text-align: center;
    padding: 10px;
}

.clg-inv-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}

/*....................proffesional affiliation......................*/
.pro-affi-mark-type{
    text-align: center;
    padding: 10px;
}

.pro-affi-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}

/*....................office involvement......................*/
.off-inv-mark-type{
    text-align: center;
    padding: 10px;
}

.off-inv-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}

/*....................expertise.....................*/
.exp-mark-type{
    text-align: center;
    padding: 10px;
}

.exp-mark-type img{
    background-color: brown;
    height: 50px;
    width: 50px;
}
