/** {
    line-height: 1;
}*/

.resume_sec1 {
    background-color: #e6e6e6;
}

.resume_sec2 {
    background-color: #e6e6e6;
    /*margin-top: 70px;*/
}

.template-container {
    margin: 20px;
    line-height: 1;
}

.cv-card-name-col {
    padding-left: 30px;
    padding-right: 0px;
    background-color: rgba(240, 240, 240, 0.7);
}

.full-name-div {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.full-name-row {
    margin-left: 0px;
    margin-right: 0px;
}

.fName {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 25px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
}

.dName {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 15px;
    padding-top: 5px;
    font-weight: bold;
    text-transform: capitalize;
}

.cv-card-name-col {
    padding-left: 0px;
    position: absolute;
    top: 226px;
}

.cv-card-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.cv-card-col {
    height: 300px;
    padding-left: 0px;
    padding-right: 0px;
}

.cv-card-header {
    width: 100%;
    height: 300px;
}

.resume-image img {
    width: 100%;
    height: 100%;
}


/* left side details */

.p-details {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.border-div-1 {
    padding-left: 0px;
    padding-right: 0px;
}

.border-hr-1 {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 1px;
    background: #D3D3D3;
}

.about-me-div {
    padding-top: 50px;
}

.about-me-header {
    font-weight: bold;
    text-transform: uppercase;
}

.aboutMeRow {
    margin-right: 1px;
    margin-left: 2px;
}

.aboutMeHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.aboutMeIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    border-radius: 50%;
}

.aboutMeIcon img {
    height: 20px;
    width: 25px;
}

.about-detail {
    padding: 15px;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}


/* left side education */

.education-header {
    font-weight: bold;
    text-transform: uppercase;
}

.edu-css{
    margin-top: 15px;
    margin-bottom: 15px;
}

.educationRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-bottom: 15px;
}

.educationHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.educationIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.educationIcon img {
    height: 20px;
    width: 25px;
}

.education-details-row {
    margin-right: 1px;
    margin-left: 2px;
}

.year-div {
    background-image: url("../images/vr-bar.png");
    background-repeat: no-repeat;
    text-align: end;
    padding-right: 0px;
}

.education-year {
    font-size: 12px;
    text-align: justify;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.5;
    text-align: end;
}

.education-degree-type {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-graduation-status {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.2;
}

.education-collage-name {
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-board {
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-city {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-state {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
}

.education-percentage {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    /*padding-left: 0px;*/
}

.education-division{
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
}


/* left side internship */

.intern-header {
    font-weight: bold;
    text-transform: uppercase;
}

.internRow {
    margin-right: 1px;
    margin-left: 2px;
    /*margin-top: 15px;*/
}


.intern-css{
    margin-top: 15px;
    margin-bottom: 15px;
}

.internHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.internIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.internIcon img {
    height: 20px;
    width: 25px;
}

/*.intern-main-div{
    margin-top: 15px;
    margin-bottom: 15px; 
}*/

.intern-details-row {
    margin-right: 1px;
    margin-left: 2px;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
}

.intern-job-position {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
}

.intern-company-name {
    font-size: 12px;
    line-height: 2;
}

.intern-year {
    font-size: 12px;
    text-align: justify;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.5;
    text-align: end;
}

.intern-details {
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 5px;
}

.intern-div-detail {
    padding-left: 0px;
}

.intern-div {
    background-image: url("../images/vr-bar.png");
    background-repeat: no-repeat;
    text-align: end;
    padding-right: 0px;
}


/* Personal details */

.personal-details-header {
    font-weight: bold;
    text-transform: uppercase;
}

.personalDetailsRow {
    margin-right: 1px;
    margin-left: 2px;
}

.personalDetailsHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.personalDetailsIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    border-radius: 50%;
}

.personalDetailsIcon img {
    height: 20px;
    width: 25px;
}

.personal-details {
    padding: 15px;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}

.personal-dot {
    padding: 0px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}

.father-name-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
}

.father-name-heading-div {
    padding-left: 0px;
    padding-right: 0px;
}

.father-name-heading-span {
    font-size: 12px;
    font-weight: bold;
}

.father-name-div {
    padding-left: 0px;
    padding-right: 0px;
}

.father-first-name-span {
    font-size: 12px;
}

.father-last-name-span {
    font-size: 12px;
}

.mother-name-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
}

.mother-name-heading-div {
    padding-left: 0px;
    padding-right: 0px;
}

.mother-name-heading-span {
    font-size: 12px;
    font-weight: bold;
}

.mother-name-div {
    padding-left: 0px;
    padding-right: 0px;
}

.mother-first-name-span {
    font-size: 12px;
    text-transform: capitalize;
}

.mother-last-name-span {
    font-size: 12px;
    text-transform: capitalize;
}

.address-name-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
}

.address-name-heading-div {
    padding-left: 0px;
    padding-right: 0px;
}

.address-name-heading-span {
    font-size: 12px;
    font-weight: bold;
}

.address-name-div {
    padding-left: 0px;
    padding-right: 0px;
}

.address-present-span {
    font-size: 12px;
}

.address-parmanent-span {
    font-size: 12px;
}

.dob-name-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
}

.dob-name-heading-div {
    padding-left: 0px;
    padding-right: 0px;
}

.dob-name-heading-span {
    font-size: 12px;
    font-weight: bold;
}

.dob-div {
    padding-left: 0px;
    padding-right: 0px;
}

.dob-date-span {
    font-size: 12px;
}

.dob-month-span {
    font-size: 12px;
}

.dob-year-span {
    font-size: 12px;
}

.marital-status-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
}

.marital-name-heading-div {
    padding-left: 0px;
    padding-right: 0px;
}

.marital-name-heading-span {
    font-size: 12px;
    font-weight: bold;
}

.marital-status-div {
    padding-left: 0px;
    padding-right: 0px;
}

.marital-status-span {
    font-size: 12px;
}

.nationality-status-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 10px;
}

.nationality-name-heading-div {
    padding-left: 0px;
    padding-right: 0px;
}

.nationality-name-heading-span {
    font-size: 12px;
    font-weight: bold;
}

.nationality-status-div {
    padding-left: 0px;
    padding-right: 0px;
}

.nationality-status-span {
    font-size: 12px;
}


/* Right Side Details */

.right-side {
    background-color: #3f3f3f;
    padding-bottom: 10px;
}

.border-div {
    padding-left: 0px;
    padding-right: 0px;
}

.border-hr {
    background-color: silver;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-me-row {
    color: white;
}

.contactMeHeadingCol {
    padding-left: 0px;
    line-height: 35px;
    padding-top: 10px;
}

.contact-me-header {
    font-size: 15px;
    padding: 0px;
    text-transform: uppercase;
}

.col-number-img-div {
    padding-left: 15px;
    padding-right: 0px;
}

.contactDetailsSpan img {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

.contactDetailsSpan {
    margin-bottom: 5px;
}

.contact-number-heading {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    height: 22px;
}

.contact-number-div {
    padding-left: 5px;
}

.contact-address-div {
    padding-left: 5px;
}

.contact-email-div {
    padding-left: 5px;
}

.mobile-span {
    font-size: 12px;
}

.contact-email-heading {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    height: 22px;
}

.email-span {
    font-size: 12px;
    text-transform: lowercase;
}

.contact-address-heading {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    height: 22px;
}

.address-span {
    font-size: 12px;
    text-transform: capitalize;
}

.address-line2-span {
    font-size: 12px;
    text-transform: capitalize;
}


/* .address-city-div {
    padding-right: 0px;
} */

.address-city-span {
    font-size: 12px;
    text-transform: capitalize;
}


/* .address-state-div {
    padding-left: 0px;
    padding-right: 0px;
} */

.address-state-span {
    font-size: 12px;
    text-transform: capitalize;
}


/* .address-country-div {
    padding-right: 0px;
} */

.address-country-span {
    font-size: 12px;
    text-transform: capitalize;
}

.address-pincode-span {
    font-size: 12px;
}

.address-indian-type {
    padding-left: 0px;
    /* padding-right: 0px; */
}

.contact-address-div {
    padding-right: 0px;
}


/* social media */

.social-main-row {
    color: white;
}

.socialHeadingCol {
    padding-left: 0px;
    line-height: 35px;
}

.social-header {
    font-size: 15px;
    padding: 0px;
    text-transform: uppercase;
}

.social-img-div {
    padding-left: 15px;
    padding-right: 0px;
}

.socialDetailsSpan img {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
}

.socialDetailsSpan {
    margin-bottom: 5px;
}

.social-heading {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    height: 22px;
}

.social-link-span {
    font-size: 12px;
}

.social-link-div {
    padding-left: 5px;
    line-height: 2.5;
}


/* expertise details */

.expertise-row {
    color: white;
}

.expertiseHeadingCol {
    padding-left: 0px;
    line-height: 35px;
}

.expertise-header {
    font-size: 15px;
    padding: 0px;
    text-transform: uppercase;
}

.expertiseDetailsSpan {
    margin-bottom: 5px;
}

.expertise-img-div {
    padding-left: 15px;
    padding-right: 0px;
}

.expertiseDetailsSpan img {
    width: 10px;
    height: 10px;
    text-align: center;
}

.expertise-list-span {
    font-size: 12px;
    padding-left: 5px;
}

.expertise-div {
    padding-left: 0px;
}


/* skill row */

.skills-row {
    color: white;
}

.skillHeadingCol {
    padding-left: 0px;
    line-height: 35px;
}

/*.skill-name-div {
    padding-left: 0px;
}*/

.skill-header {
    font-size: 15px;
    padding: 0px;
    text-transform: uppercase;
}

.skillDetailsSpan {
    margin-bottom: 5px;
}

.skill-img-div {
    padding-left: 15px;
    padding-right: 0px;
}

.skillDetailsSpan img {
    width: 200px;
    height: 10px;
    text-align: center;
}

.skill-list-span {
    font-size: 12px;
    padding-left: 0px;
}


/* intrest row */

.intrest-row {
    color: white;
}

.intrest-col-row{
    margin-bottom: 15px;
}

.intrestHeadingCol {
    padding-left: 0px;
    line-height: 35px;
}

.intrest-div {
    padding-left: 0px;
}

.intrest-header {
    font-size: 15px;
    padding: 0px;
    text-transform: uppercase;
}

.intrest-details {
    /* background-color: lightgray; */
    /* background-repeat: no-repeat; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.intrest-details-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
}

.intrest-img {
    /* margin-left: 10px; */
    background-color: #ffffff;
    /* width: 150px; */
    /* height: 50px; */
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intrest-img img {
    width: 25px;
    height: 25px;
}

.intrest-name {
    /* margin-left: 10px; */
    background-color: #ffffff;
    color: black;
    /* width: 120px; */
    /* height: 60px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    padding-top: 3px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    word-break: break-all;
    /* margin-bottom: 20px; */
}


/* add skill row */

.add-skill-row {
    color: white;
}

.addSkillHeadingCol {
    padding-left: 0px;
    line-height: 35px;
}

.add-skill-header {
    font-size: 15px;
    padding: 0px;
    text-transform: uppercase;
}

.addSkillDetailsSpan {
    margin-bottom: 5px;
}

.add-skill-img-div {
    padding-left: 15px;
    padding-right: 0px;
}

.addSkillDetailsSpan img {
    width: 10px;
    height: 10px;
    text-align: center;
}

.add-skill-list {
    font-size: 12px;
    padding-left: 5px;
}

.add-skill-text-div {
    padding-left: 0px;
}


/* language row */

.languages-container {
    color: white;
}

.languagesHeadingCol {
    padding-left: 0px;
    line-height: 35px;
}


/* .languages-div {
    padding-left: 0px;
} */

.languages-header {
    font-size: 15px;
    padding: 0px;
    text-transform: uppercase;
}

.languagesDetailsSpan {
    margin-bottom: 5px;
}

.languages-img-div {
    padding-left: 15px;
    padding-right: 0px;
}

.languages-img-div img {
    width: 200px;
    height: 10px;
    text-align: center;
}

.languages-name-span {
    font-size: 12px;
    /* padding-left: 5px; */
}


/* project  */

.project-header {
    font-weight: bold;
    text-transform: uppercase;
}

.projectRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
}

.projectHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.projectIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.projectIcon img {
    height: 20px;
    width: 25px;
}

.project-details-row {
    margin-right: 1px;
    margin-left: 2px;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
}

.all-pro-div-css{
    margin-top: 15px;
    /*margin-bottom: 15px;*/

}

.project-name {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
}

.project-lable {
    font-size: 12px;
    line-height: 2;
    padding-left: 0px;
    padding-right: 0px;
}

.project-year {
    font-size: 12px;
    text-align: justify;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.5;
    text-align: end;
}

.project-details {
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 5px;
}

.project-div-detail {
    padding-left: 0px;
}

.project-div {
    background-image: url("../images/vr-bar.png");
    background-repeat: no-repeat;
    text-align: end;
    padding-right: 0px;
}


/* Training and certification  */

.training-header {
    font-weight: bold;
    text-transform: uppercase;
}

.trainingRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
}

.trainingHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.trainingIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.trainingIcon img {
    height: 20px;
    width: 25px;
}

.training-details-row {
    margin-right: 1px;
    margin-left: 2px;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
}

.training-div-css{
    margin-top: 15px;
}

.training-name {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
}

.training-institute-name {
    font-size: 12px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    line-height: 1.5;
}

.training-status {
    font-size: 12px;
    line-height: 1.5;
    /* padding-left: 0px; */
    padding-right: 0px;
}

.training-year {
    font-size: 12px;
    text-align: justify;
    padding-top: 7px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.5;
    text-align: end;
}

.training-div-detail {
    padding-left: 0px;
}

.training-div {
    background-image: url("../images/vr-bar.png");
    background-repeat: no-repeat;
    text-align: end;
    padding-right: 0px;
}


/* Awards and Achievements  */
.award-header {
    font-weight: bold;
    text-transform: uppercase;
}

.awardRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
}

.awardHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.awardIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.awardIcon img {
    height: 20px;
    width: 25px;
}

.award-details-row {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.award-name {
    font-size: 12px;
    line-height: 1.6;
    padding-right: 30px;
}

.award-dot-img {
    padding-right: 0px;
}

.award-dot-img img {
    width: 10px;
    height: 10px;
}



/* collage involvement  */

.clg-involvement-header {
    font-weight: bold;
    text-transform: uppercase;
}

.clgInvolvementRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
}

.clgInvolvementHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.clgInvolvementIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.clgInvolvementIcon img {
    height: 20px;
    width: 25px;
}

.clg-involvement-details-row {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.clg-involvement-name {
    font-size: 12px;
    line-height: 1.6;
    padding-right: 30px;
}

.clg-involvement-dot-img {
    padding-right: 0px;
}

.clg-involvement-dot-img img {
    width: 10px;
    height: 10px;
}


/* Professional affiliation  */

.pro-affiliation-header {
    font-weight: bold;
    text-transform: uppercase;
}

.proAffiliationRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
}

.proAffiliationHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.proAffiliationIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.proAffiliationIcon img {
    height: 20px;
    width: 25px;
}

.pro-affiliation-details-row {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.pro-affiliation-name {
    font-size: 12px;
    line-height: 1.6;
    padding-right: 30px;
}

.pro-affiliation-dot-img {
    padding-right: 0px;
}

.pro-affiliation-dot-img img {
    width: 10px;
    height: 10px;
}


/* work exp row*/

.work-exp-header {
    font-weight: bold;
    text-transform: uppercase;
}

.workExpRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
}

.workExpHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.workExpIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.workExpIcon img {
    height: 20px;
    width: 25px;
}

.work-exp-details-row {
    margin-right: 1px;
    margin-left: 2px;
    /*margin-top: 15px;*/
    /*margin-bottom: 15px;*/
}

.work-exp-css{
    margin-top: 15px;
}

.work-exp-job-position {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
}

.work-exp-company-name {
    font-size: 12px;
    line-height: 2;
}

.work-exp-year {
    font-size: 12px;
    text-align: justify;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.5;
    text-align: end;
}

.work-exp-job-dis {
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 5px;
}

.work-exp-pre-ph {
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 5px;
}

.work-exp-div-detail {
    padding-left: 0px;
}

.work-exp-div {
    background-image: url("../images/vr-bar.png");
    background-repeat: no-repeat;
    text-align: end;
    padding-right: 0px;
}


/* Office involvement  */

.offi-involvement-header {
    font-weight: bold;
    text-transform: uppercase;
}

.offiInvolvementRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
}

.offiInvolvementHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.offiInvolvementIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}

.offiInvolvementIcon img {
    height: 20px;
    width: 25px;
}

.offi-involvement-details-row {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.offi-involvement-name {
    font-size: 12px;
    line-height: 1.6;
    padding-right: 30px;
}

.offi-involvement-dot-img {
    padding-right: 0px;
}

.offi-involvement-dot-img img {
    width: 10px;
    height: 10px;
}

/*additional section*/
/*.add-sec-div {
    padding-top: 15px;
}*/

.add-sec-header {
    font-weight: bold;
    text-transform: uppercase;
}

.addSecRow {
   margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
}

.addSecDetailRow{
    margin-right: 1px;
    margin-left: 2px;
    /*margin-top: 15px;*/
}

.addSecHeadingCol {
    padding-left: 0px;
    padding-top: 2px;
    padding-right: 0px;
}

.addSecIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    border-radius: 50%;
}

.addSecIcon img {
    height: 20px;
    width: 25px;
}

.add-sec-detail {
    padding: 15px;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}

/*footer*/
.footer-row{
    margin-left: 0px;
    margin-right: 0px;
}

.footer-col{
    padding: 10px;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}