* {
    line-height: 1;
}

.resume_sec1 {
    background-color: #e6e6e6;
}

.resume_sec2 {
    background-color: #e6e6e6;
}

.template-container {
    margin: 20px;
}

.cv-card-name-col {
    padding-left: 30px;
    padding-right: 0px;
}

.full-name-div {
    /* box-sizing: border-box; */
    /* top: 40px; */
    /* height: 140px; */
    /* position: relative; */
    /* padding-left: 20px !important; */
    font-size: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    /* font-weight: bold; */
    /* background-color: #505052; */
    /* border: 2px solid #505052; */
    /* border-right: 0px; */
}

.full-name-row {
    margin-left: 0px;
    margin-right: 0px;
}

.fName {
    color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 5px;
    /* line-height: 1.2; */
}

.lName {
    color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 5px;
    /* line-height: 1.2; */
}

.dName {
    color: #ffffff;
    padding-left: 0px;
    padding-right: 0px;
    text-transform: uppercase;
    font-size: 15px;
    padding-top: 10px;
    font-weight: bold;
    /* line-height: 1.2; */
}

.cv-card-name-col {
    padding-left: 0px;
}

.cv-card-row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.cv-card-col {
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 300px;
    /* background-color: #3f3f3f; */
    padding-left: 0px;
    padding-right: 0px;
    /* border-color: #f2f0f6; */
    /* background-image: url(../images/profileBack.png); */
    /* background-repeat: no-repeat; */
}

.cv-card-header {
    /* border: 3px solid #f5f5f5; */
    /* border-radius: 50%; */
    width: 100%;
    height: 300px;
    /* object-fit: cover; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.resume-image img {
    width: 100%;
    height: 100%;
    /* border-radius: 50%; */
}


/* left side details */

.p-details {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.border-div-1 {
    padding-left: 0px;
    padding-right: 0px;
    /* margin-top: -px; */
}

.border-hr-1 {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 2px;
    background: #00BFFF;
    background: linear-gradient(to right, #00BFFF 10%, lightgray 10%, lightgray 10%);
}

.about-me-div {
    padding-top: 50px;
}

.about-me-header {
    /* display: block; */
    /* height: 36px; */
    /* font-size: 15px; */
    /* letter-spacing: 2px; */
    font-weight: bold;
    text-transform: uppercase;
}

.aboutMeRow {
    margin-right: 1px;
    margin-left: 2px;
}

.aboutMeHeadingCol {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 0px;
    /* line-height: 2; */
    /* border-top: 2px solid grey; */
    /* border-bottom: 2px solid #000000; */
    /* border-color: linear-gradient(to right, red 10%, green 90%); */
}

.aboutMeIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    border-radius: 50%;
    /* border-top: 2px solid grey; */
    /* border-bottom: 2px solid grey; */
}

.aboutMeIcon img {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    border-radius: 50%;
}

.about-detail {
    padding: 15px;
    font-size: 12px;
    line-height: 1.5;
    text-align: justify;
}


/* left side education */

.education-header {
    /* margin-bottom: 15px; */
    /* display: block; */
    /* height: 36px; */
    /* font-size: 15px; */
    /* letter-spacing: 2px; */
    font-weight: bold;
    text-transform: uppercase;
}

.educationRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-bottom: 15px;
}

.educationHeadingCol {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 0px;
    /* line-height: 2; */
    /* border-top: 2px solid grey; */
    /* border-bottom: 2px solid #000000; */
}

.educationIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    border-radius: 50%;
    /* border-top: 2px solid grey; */
    /* border-bottom: 2px solid grey; */
}

.educationIcon img {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    border-radius: 50%;
}

.education-details-row {
    margin-right: 1px;
    margin-left: 2px;
}

.year-div {
    padding-top: 2px;
    background-image: url("../images/vr-bar.png");
    background-repeat: no-repeat;
}

.education-year {
    font-size: 12px;
    text-align: justify;
    padding-left: 0px;
    line-height: 1.5;
}

.education-degree-type {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-graduation-status {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.2;
}

.education-collage-name {
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-board {
    font-size: 12px;
    font-weight: bold;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-city {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.education-state {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
}

.education-division {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 0px;
}

.education-percentage {
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
}


/* left side internship */

.intern-header {
    /* margin-top: 15px; */
    /* display: block; */
    /* height: 36px; */
    /* font-size: 15px; */
    /* letter-spacing: 2px; */
    font-weight: bold;
    text-transform: uppercase;
}

.internRow {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 15px;
}

.intern-main-div{
    margin-top: 15px;
    margin-bottom: 15px; 
}

.internHeadingCol {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 0px;
    /* line-height: 2; */
    /* border-top: 2px solid grey; */
    /* border-bottom: 2px solid grey; */
}

.internIcon {
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
    border-radius: 50%;
    /* border-top: 2px solid grey; */
    /* border-bottom: 2px solid grey; */
}

.internIcon img {
    height: 25px;
    width: 25px;
    margin-top: 10px;
    border-radius: 50%;
}

.intern-details-row {
    margin-right: 1px;
    margin-left: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.intern-job-position {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
}

.intern-company-name {
    font-size: 12px;
    line-height: 2;
}

.intern-year {
    font-size: 12px;
    text-align: justify;
    padding-left: 0px;
    line-height: 1.5;
    padding-top: 0px;
}

.intern-details {
    font-size: 12px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 5px;
}

.intern-div-detail {
    padding-left: 0px;
}

.intern-div {
    padding-top: 2px;
    background-image: url("../images/vr-bar.png");
}


/* Right Side Details */

.right-side {
    background-color: #3f3f3f;
}


/* .contactMeIcon {
    padding-left: 15px;
    padding-right: 0px;
} */


/* .contactMeIcon img {
    height: 25px;
    width: 25px;
    margin-top: 5px;
} */

.contact-me-row {
    color: white;
}

.contactMeHeadingCol {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
}

.border-div {
    padding-left: 30px;
    padding-right: 0px;
}

.border-hr {
    margin-top: 5px;
    margin-bottom: 0px;
    height: 2px;
    background: #00BFFF;
    background: linear-gradient(to right, #00BFFF 10%, lightgray 10%, lightgray 10%);
}

.contact-me-header {
    display: block;
    background-color: #3f3f3f;
    font-size: 15px;
    font-weight: bold;
    color: #00BFFF;
    text-transform: uppercase;
}

.contact-me-details {
    background-color: #3f3f3f;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col-number-img-div {
    padding-left: 15px;
    padding-right: 10px;
}

.contactDetailsSpan img {
    width: 20px;
    height: 20px;
    text-align: center;
    /* margin-top: 5px; */
    /* border-radius: 50%; */
}

.contactDetailsSpan {
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.contact-number-heading {
    font-size: 12px;
    /* display: flex; */
    /* align-items: center; */
    /* font-weight: bold; */
    padding-top: 3px;
    /* height: 22px; */
}


/* .conatct-number {
    font-size: 12px;
} */

.contact-email-heading {
    font-size: 12px;
    /* font-weight: bold; */
    padding-top: 3px;
    /* height: 22px; */
}


/* 
.conatct-email {
    font-size: 12px;
} */

.contact-address-heading {
    font-size: 12px;
    /* font-weight: bold; */
    padding-top: 3px;
    /* height: 22px; */
    padding-left: 0px;
}


/* .conatct-address {
    font-size: 12px;
} */

.contact-address-div {
    padding-right: 0px;
}


/* social media */


/* .socialIcon {
    padding-left: 15px;
    padding-right: 0px;
} */


/* .socialIcon img {
    height: 25px;
    width: 25px;
    margin-top: 5px;
} */

.social--main-row {
    color: white;
}

.socialHeadingCol {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    /* margin-left: 15px; */
    /* border-bottom: 2px solid lightgray; */
    /* line-height: 35px; */
}

.social-header {
    display: block;
    background-color: #3f3f3f;
    /* height: 36px; */
    font-size: 15px;
    font-weight: bold;
    color: #00BFFF;
    /* margin-top: 2px; */
    text-transform: uppercase;
    /* background-image: url(../images/headingBack.png); */
    /* background-repeat: no-repeat; */
}

.social-details {
    background-color: #3f3f3f;
    /* background-image: url(../images/detail1-back.png); */
    /* background-repeat: no-repeat; */
    /* margin-top: 2px; */
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
}


/* .col-number-img-div {
    padding-left: 15px;
    padding-right: 10px;
} */

.socialDetailsSpan img {
    width: 20px;
    height: 20px;
    text-align: center;
    margin-top: 10px;
    /* border-radius: 50%; */
}

.socialDetailsSpan {
    /*margin-bottom: 10px;*/
    /*margin-top: 10px;*/
    margin-left: 0px;
    margin-right: 0px;
}

.social-number-heading {
    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    height: 22px;
}

.social-number {
    font-size: 12px;
}

.social-heading {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.social-link {
    font-size: 12px;
}

.social-div-87 {
    padding-top: 2px;
    padding-bottom: 2px;
}

.social-img-div {
    padding-left: 15px;
    padding-right: 0px;
}

.social-link-span {
    font-size: 12px;
}

.social-link-div {
    color: white;
    padding-left: 15px;
    padding-top: 10px;
    /*line-height: 2.5;*/
}


/* expertise details */



.expertise-row {
    color: white;
}

.expertise-div {
    padding-left: 15px;
}

.expertiseHeadingCol {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 15px;
    padding-bottom: 5px;
    /* margin-left: 15px; */
    /* border-bottom: 2px solid lightgray; */
    /* line-height: 35px; */
}

.expertise-header {
    /* display: block; */
    background-color: #3f3f3f;
    /* height: 36px; */
    font-size: 15px;
    font-weight: bold;
    color: #00BFFF;
    /* margin-top: 2px; */
    text-transform: uppercase;
    /* background-image: url(../images/headingBack.png); */
    /* background-repeat: no-repeat; */
}

.expertise-details {
    background-color: #3f3f3f;
    /* background-image: url(../images/detail3Back.png); */
    /* background-repeat: no-repeat; */
    /* margin-top: 2px; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.expertiseDetailsSpan {
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

.expertise-img-div {
    padding-left: 15px;
    padding-top: 0px;
    padding-right: 0px;
}

.expertiseDetailsSpan img {
    width: 10px;
    height: 10px;
    text-align: center;
    /* border-radius: 50%; */
}

.expertise-list {
    font-size: 12px;
}